#box1{
    height: 250px;
    width: 250px;
    background: pink;
    font-size: 225px;
    text-align: center;

    animation: mySlide;
    animation-duration: 5s;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mySlide {
    
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}