
body{
    background-color: black;
    font-size: 30px;
}
a:link{
    color: yellow;
}
a:visited{
    color: aqua ;
}
a:hover{
    color: magenta;
}
a:active{
    color: lavender;
}
button::shadow{
    background-color: darksalmon;
}
button:hover{
    background-color: tomato;
}
h2{
    color: mintcream;
    font-size: 30px;
}
h3{
    color: palegreen;
    font-size: 30px;
}
li:nth-child(3n){
    background-color: indianred;
}